{% extends "::base.html.twig" %}
{% block body %}
   
    
{% for mbr in mbrs%}
    
    <table align="center" >
        <tr>
            <td><h1> {{ mbr.nom }}</h1></td>
            <td><h3> {{ mbr.prenom }}</h3></td>
            <td><h3> {{ mbr.role }}</h3></td>
            <td><a href="{{ path('fose_editer_mbr', {'id': mbr.id} ) }}">Editer</a> </td>
            <td><a href="{{ path('fose_suprimer_mbr', {'id': mbr.id} ) }}">suprimer</a></td>
      
        </tr>
        
    </table>
 

{%endfor%}

    <div class="pagination">
<ul>
{# On utilise la fonction range(a, b) qui crée un tableau de
valeurs entre a et b #}
{% for p in range(1, nombrePage) %}
<li{% if p == page %} class="active"{% endif %}>
<a href="{{ path('fose_afficher_article', {'page': p}) }}">{{ p }}</a>
</li>
{% endfor %}
</ul>
</div>

{% endblock %}