{% extends "::base.html.twig" %}
{% block body %}
   
    
{% for article in articles %}
    
    <table align="center" >
        <tr>
            <td><h1> {{ article.titre }}</h1></td> 
    </br>
    
    {% set day      = article.datepub|date('d') %}
  {% set MonthAndYear = article.datepub|date('F Y') %}

  <td>{{article.datepub|date('d-F-Y') }}</td><td><a href="{{ path('fose_editer_article', {'id': article.id} ) }}">Editer</td><td><a href="{{ path('fose_suprimer_article', {'id': article.id} ) }}">suprimer</td>
        </tr>
    </table>
 

{%endfor%}

    <div class="pagination">
<ul>
{# On utilise la fonction range(a, b) qui crée un tableau de
valeurs entre a et b #}
{% for p in range(1, nombrePage) %}
<li{% if p == page %} class="active"{% endif %}>
<a href="{{ path('fose_afficher_article', {'page': p}) }}">{{ p }}</a>
</li>
{% endfor %}
</ul>
</div>

{% endblock %}